{
  "extends": "@istanbuljs/nyc-config-typescript",
  "all": true,
  "check-coverage": true,
  "exclude": [
    "**/test.ts",
    ".next",
    ".husky",
    "public",
    "postcss.config.js",
    "next.config.js",
    "next-env.d.ts",
    "jest.config.js",
    "tailwind.config.ts",
    ".lintstagedrc.js",
    "messages",
    "**/story.ts",
    ".storybook"
  ]
}
