.page {
  background-image: url("https://images.unsplash.com/photo-1603513492128-ba7bc9b3e143?ixid=MXwxMjA3fDB8MHxzZWFyY2h8MXx8cGFwZXIlMjB0ZXh0dXJlfGVufDB8fDB8&ixlib=rb-1.2.1&w=1000&q=80");
  border: 1px solid rgb(198 194 194);
  border-radius: 0.5rem;
  box-sizing: border-box;
  box-shadow: 0 1.5em 3em -1em rgb(70 69 69);
}
