.contentful button {
  background: transparent;
  color: pink;
  border-color: pink;
  cursor: pointer;
  border-radius: 5px;
  transition: all 0.25s ease-in-out;
  height: 2rem;
  width: 100%;
  font-weight: bold;
  text-transform: capitalize;
}

.contentful button:hover {
  background: red;
  color: white;
}

.contentful p {
  line-height: 1.7;
  font-size: 0.7rem;
  color: black;
}

.contentful p + p {
  padding-top: 40px;
}

.contentful h2 {
  background-color: green;
  color: white;
  padding: 1rem;
}

.contentful h3 {
  margin: 60px 0 0;
  font-size: 1.75rem;
}

.contentful h3:first-of-type {
  margin-top: 0;
}

.contentful a {
  text-decoration: underline;
}

.contentful .contentful-image-container img {
  padding: 20px 0;
}

.contentful .contentful-image-container p {
  text-align: center;
  padding-bottom: 40px;
  font-size: 12px;
}

.contentful ul li {
  margin-bottom: 1rem;
}
