/* stylelint-disable-next-line selector-class-pattern */
.js-draw.imageEditorContainer {
  position: fixed;
  inset: 0;
  width: 100vw;
  height: 100vh;
}

@media screen and (width >= 865px) {
  .toolbar-edge-toolbar > div.toolbar-element.toolbar-tool-row {
    padding-right: 440px;
  }
}

@media screen and (width <= 865px) {
  .toolbar-edge-toolbar {
    flex-wrap: wrap !important;
  }

  .toolbar-edge-toolbar > .toolbar-action-row {
    max-width: 100% !important;
    flex-grow: auto !important;
    flex-shrink: auto !important;
  }
}

/* stylelint-disable-next-line selector-class-pattern */
.toolbar-toolContainer.toolbar-toolButtonContainer.toolbar-internalWidgetId--eraser-tool-widget {
  display: none;
}
