.iframe1 {
  background: white;
  border: 1px dotted blue;
  flex: 1 1 auto;
  margin-left: 1rem;
  width: 0;
  height: 76px;
}

.code {
  margin-top: 1rem;
  display: block;
}

.playground {
  margin-top: 0.75rem;
  margin-bottom: 1rem;
  display: flex;
}

.btn {
  max-width: 150px;
}

.btn button:first-of-type {
  margin-bottom: 0.5rem;
}
